footer .afooter:hover {
	text-decoration: underline;
	color: lightgrey!important;
}

.navbar-item:hover {
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 1.5em;
}

.navbar-link:hover {
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 1.5em !important;
}

#dropdown {
	background: none;
}

.dropdown-item {
	color: white;
}

.dropdown-item:hover {
	color: darkgrey;
}

.navbar-burger {
	color: white !important;
}

@media screen and (max-width: 768px) {
	#section1 {
		display: flex !important;
		flex-direction: column-reverse !important;
	}
}
